<div class="profile-row">
  <div class="profile">
    <img src="https://pbs.twimg.com/profile_images/2600235301/8nyrxkh431u4fcvoc2o6_400x400.jpeg" />
  </div>

  <div class="bio">
    <h2>Hi!</h2>
    <h2>Welcome to the </h2>
    <h2><%= full_name %> Campaign.</h2>
    <h3>We're a community group seeking to establish a Secondary Level School run by the Educate Together organization/ethos/? in <%= city %>.</h3>
    <!-- Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
    <p></p>
  </div>
</div>

<div class="featured-element-row">
  <section class="latest-from-blog">
    <h2>Latest News</h2>
    <h3><%= link_to page_articles.first.title, page_articles.first %></h3>

    <p><%= page_articles.first.summary %></p>
  </section>

  <section class="featured-project">
    <% project = data.projects.select(&:featured).first %>

    <h2>Get Engaged...</h2>
    <h3><%= link_to project.name, 'portfolio.html' %></h3>
    <%= link_to(image_tag(project.screenshot), 'portfolio.html') %>
  </section>
</div>
